.my_image {
height: 50px;
width: 50px;
float: left;
}

h1 {
  color: red;
}

body {
  background-color: blue;
}

a:hover {
  color: yellow;
  background-color: black;
}
#mydiv {
  background-color: lightgrey;
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
}
#mypara {
  position: absolute;
  top: 50px;
  right: 0;
}
.
